<div style="text-align:center;">
  <hello name="{{ name }}"></hello>
  <input style="text-align: center;margin: auto;"type="file" id="selectFiles" value="Import" onchange="fileUpl()" /><br />
</div>

<div style="text-align:center;">
  <select  id="ddl_key_values" onchange="ddlChangeKeys()">
    <option value="Select" selected>Select</option>
  </select>
  &nbsp;<button id="import">Add</button>
  <br/>
   <br/>
  <textarea id="txtUpdateKey" rows="4" cols="50" onchange="updatedValue(this.value)"></textarea>
  <!--<input type="text" id="txtUpdateKey" onchange="updatedValue(this.value)">-->
</div>
<br/>
<div style="text-align:center;">
  <input type="button" value="CreateJSON" onclick="updateJSON()">
</div>

<a id="downloadAnchorElem" style="display:none"></a>
<div id="div_form" style="margin-left: 15px;margin-right: 15px;">
</div>
<a id="downloadAnchorElem" style="display:none"></a>